* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Variables - Custom Properties */
:root {
    /* Fuente principal */
    --main-font-family: 'Bricolage Grotesque', sans-serif;
    /* Branding - Colores */
    --primary-color: #008CCA;
    --secondary-color: #000000;
    --complementary-color: #EAE5C8;
    --white-color: #FFFFFF;
    --grey-color: #F5F5F5;
    --dark-blue: #016995;
    /* Bordes */
    --border-radius-btn: 100px;
    --border-radius-elementos: 20px;
    /* Textos */
    --text-heading-size: clamp(3em, 6vw, 8em);
    --text-subtitle-size: clamp(1.5em, 3vw, 4em);
    --text-main-size: clamp(1em, 1.5vw, 2.5em);
    --btn-main-size: clamp(0.6em, 1vw, 2em);
}

/* Estilos GENERALES para botones */
.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: var(--btn-main-size);
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-btn);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--dark-blue);
}

@media (max-width: 768px) {
    .btn {
        /* Reducción de padding en pantallas pequeñas */
        padding: 0.4rem 1.2rem;
    }
}

@media (min-width: 2400px) {
    .btn {
        /* Aumento de padding en pantallas grandes */
        padding: 1.3rem 3.5rem;
    }
}

body {
    font-family: var(--main-font-family);
    font-size: var(--text-main-size);
}

/* --------------------------------------------------------------------------------- */
/*  main.css
    Estructura:
        - index.html
            - Header
            - Banner inicial
            - Sección sobre mí
                - Animación de texto
            - Sección de servicios (comparte estilos con la sección de proyectos)
            - Sección de proyectos
            - Sección de contacto
            - Footer

        - about.html
            - Banner inicial
            - Sección de estudios
            - Sección de experiencia laboral
            - CTA para contactar y/o ver proyectos
*/
/* --------------------------------------------------------------------------------- */

/* INICIO DE ESTILOS PARA INDEX.HTML */
/* ---- Header - Menú desktop ----
        Descripción: Estilos para el header de escritorio
*/
.header {
    width: 100%;
    /* background-color: #008dca16; */
    /* backdrop-filter: blur(2px); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 3;

    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header__logo {
    width: 20%;
}

.header__menu {
    display: flex;
    gap: clamp(1.5rem, 2vw, 3rem);
    list-style-type: none;
}

.header__menu li {
    transition: transform 0.3s ease;
}

.header__menu li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1em;
}

.header__menu li:hover {
    transform: scale(0.95);
}

/* ---- Header - Menú mobile ----
        Descripción: Estilos para el header de pantallas pequeñas
*/
.header__nav--mobile {
    display: none;
    list-style: none;
}

@media (max-width: 768px) {

    /* Activación del menú mobile */
    .header__nav {
        display: none;
    }

    .header--mobile {
        background-color: var(--primary-color);
    }

    .header__nav--mobile {
        display: flex;
    }

    .header__menu--mobile {
        list-style: none;
    }

    .header__menu-icon svg {
        width: 40px;
        fill: var(--white-color);
        cursor: pointer;
        transition: scale 0.3s ease;
    }

    .header__menu-icon svg:hover {
        transform: scale(0.95);
    }

    .header__menu--mobile ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #ffffff35;
        backdrop-filter: blur(10px);
        list-style: none;
        padding: 1rem 2rem;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 0.3s ease, visibility 0.3s ease;
    }


    .menu-icon__item {
        padding: 1rem;
        transition: transform 0.3s ease;
    }

    .menu-icon__item a {
        color: var(--secondary-color);
        text-decoration: none;
    }

    .header__menu--mobile li:hover {
        /* Anula el escalado del los items del menú de escritorio */
        transform: none;
    }

    .menu-icon__item a:hover {
        transform: translateX(2%);
        color: var(--white-color);
    }

    .header__menu--active ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

/* ---- Banner inicial ----
        Descripción: Estilos para el banner de bienvenida
        Estructura:
            - banner
            - banner__h1
*/
.banner {
    width: 100%;
    min-height: 100vh;
    /* Revisar peso de la imagen */
    background-image: url('../assets/banner-inicio-transparente.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;

    overflow: hidden;
}

.banner__h1 {
    padding: 0 0 0 5%;
    color: var(--white-color);
    font-size: clamp(10em, 25vw, 25em);
    text-align: center;
}

@media (min-width: 1720px) {
    .banner__h1 {
        font-size: clamp(15em, 35vw, 50em);
    }
}

/* ---- Sección sobre mí ----
        Descripción: Estilos para el texto de presentación y para el texto animado
        Estructura:
            - about
            - about__p
            - movement (animación de texto)
                - movement--blue (animación de texto - fondo azul)
                - movement__container (contenedor de los spans animados)
                - movement__span (spans individuales para animar)
            - animación de texto: scrollText
*/
.about {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -50vh 0 0;
    z-index: -1;
    position: relative;
}

.about__p {
    width: clamp(80%, 60vw, 50%);
    font-size: var(--text-subtitle-size);
    color: var(--white-color);
    text-align: center;
}

/* Animación de texto - Dentro de la sección sobre mí */
.movement {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.5rem;

    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.movement--blue {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1.5rem;

    position: absolute;
    top: 0;
    overflow: hidden;
}

.movement__container {
    display: flex;
    gap: 3rem;

    animation: scrollText 20s linear infinite;
}

.movement__span {
    white-space: nowrap;
    color: var(--white-color);
    font-size: 1.5em;
    font-weight: 200;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* ---- Sección de servicios ----
        Descripción: Estilos para la sección de servicios, que comparte estilos con la sección de proyectos.
        Estructura:
            - services
            - services__h2 (comparte estilos con projects__h2)
            - services__card (contenedor de los diferentes servicios)
            - card (estilos generales para cada servicio)
            - card__category (estilos para la categoría de cada servicio)
            - card__img (estilos para la imagen de cada servicio)
*/
.services,
.studies {
    width: 100%;
    padding: 10rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services__h2,
.projects__h2,
/* Comparte estilos con la sección de proyectos */
.experience__h2 {
    /* Comparte estilos con la sección de experiencias de about.html */
    font-size: var(--text-heading-size);
    color: var(--secondary-color);
    text-align: center;
}

.services__card {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card__category,
.preview__category,
/* Comparte estilos con los datos de los proyectos destacados */
.preview__year {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: var(--btn-main-size);
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius-btn);
}

.card__img {
    background-color: var(--grey-color);
    width: clamp(200px, 20vw, 600px);
    height: clamp(200px, 20vw, 600px);
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-elementos);
}

/* ---- Sección de proyectos ----
        Descripción: Estilos para la sección de proyectos destacados.
        Estructura:
            - projects
            - projects__h2
            - projects__preview (contenedor de los proyectos destacados)
            - preview (estilos generales para cada proyecto)
            - preview__data (contenedor de los datos de cada proyecto)
            - preview__h2 (estilos para el título de cada proyecto)
            - preview--disabled (estilo para javascript para proyectos que quedan detrás de otros)
            - preview--opacity (estilo inicial para javascript -al hacer scroll aparecen los proyectos-)
*/
.projects {
    background: linear-gradient(to bottom, var(--primary-color), var(--complementary-color));
    padding: 6rem 2rem;

    width: 100%;
    min-height: 100vh;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects__h2 {
    position: sticky;
    top: 10vh;
    color: var(--white-color);
    margin: 0 0 4rem;
    transition: opacity 0.3s ease-in-out;
}

.projects__preview {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.preview {
    width: clamp(300px, 60vw, 1000px);
    min-height: clamp(300px, 30vw, 600px);
    /* background-color: var(--grey-color); */
    background-image: url(../assets/imagen-de-prueba.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-elementos);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 30vh;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.preview:nth-child(odd) {
    /* Cambio de margen para proyectos impares (hacia la izquierda) */
    margin: 0 0 0 -10vh;
}

.preview:nth-child(even) {
    /* Cambio de margen para proyectos pares (hacia la derecha) */
    margin: 0 -10vh 0 0;
}

.preview:nth-child(2) {
    /* Cambio en el punto de sticky para que no se solapen completamente entre sí */
    top: 25vh;
}

.preview:nth-child(3) {
    top: 30vh;
}

.preview:nth-child(4) {
    top: 45vh;
}

.preview__data {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.preview__h2 {
    font-size: clamp(2em, 3.5vw, 4em);
}

.preview--disabled {
    transform: scale(0.95);
    filter: blur(2px) brightness(0.9);
}

.preview--opacity {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 485px) {
    .preview:nth-child(odd) {
        margin: 0;
    }

    .preview:nth-child(even) {
        margin: 0;
    }
}

/* ---- Sección de contacto ----
        Descripción: Estilos para la sección de contacto (se repite en about.html como CTA para ver proyectos).
        Estructura:
            - paper__wrapper (para recortar la imagen que salga del degradado de la sección de proyectos)
            - paper (estilos generales para la sección de contacto)
            - paper__picture 
            - paper__picture img (estilos para la imagen de contacto)
            - paper__btn
*/
.paper__wrapper {
    overflow: hidden;
    width: 100%;
    padding: 14rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    width: clamp(50%, 60vw, 80%);
    transform: rotate(15deg);
}

.paper__picture {
    position: relative;
}

.paper__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-elementos);
}

.paper__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

@media (max-width: 768px) {
    .paper__wrapper {
        padding: 4rem 0;
    }

    .paper {
        width: 90%;
        transform: rotate(10deg);
    }
}


@media (min-width: 2400px) {
    .paper__wrapper {
        /* Aumenta el espacio entre los proyectos y el contacto en pantallas grandes */
        padding: 20rem 0;
        margin: 10rem 0 0;
    }

}

/* ---- Footer ----
        Descripción: Estilos para el footer.
        Estructura:
            - footer
            - footer__info (contenedor redes sociales, menú y datos de contacto)
                - footer__socials (contenedor de las redes sociales)
                    - social (estilos para los iconos de las redes sociales)
                - footer__menu 
                - footer__contact
            - footer__title (estilos para el título y derechos de autor del footer)
                - footer__h2
*/

.footer {
    width: 100%;
    padding: 8rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    position: relative;
}

.footer__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.social {
    width: min(40px, 8vw);
    height: min(40px, 8vw);
    padding: 0.5rem;
    border-radius: var(--border-radius-btn);
    background-color: var(--primary-color);
    fill: var(--white-color);
    transition: transform 0.3s ease;
}

.social:hover {
    transform: scale(1.1);
}

.footer__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    list-style-type: none;
    font-weight: 600;
}

.footer__menu li {
    white-space: nowrap;
    transition: transform 0.3s ease;
}

.footer__menu li:hover {
    transform: scale(0.95);
}

.footer__menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
}

.footer__contact {
    font-size: 0.9em;
    display: flex;
    gap: 1rem;
    word-spacing: 0.5rem;
    text-align: center;
}

.footer__title {
    width: 100%;
    color: var(--primary-color);
    text-align: center;

}

.footer__h2 {
    font-size: clamp(4em, 15vw, 15em);
}

@media (min-width: 1400px) {
    .footer {
        padding: 16rem 2rem 4rem;
    }
}

@media (min-width: 1900px) {
    .social {
        width: min(80px, 20vw);
        height: min(80px, 20vw);
        padding: 1.2rem;
    }
}

/* FIN DE ESTILOS PARA INDEX.HTML */


/* INICIO DE ESTILOS PARA ABOUT.HTML */
/* ---- Banner inicial ----
        Descripción: Estilos para el banner inicial de la página.
        Estructura:
            - banner--change-background (modificador para cambiar la imagen de fondo del banner)
*/
.banner--about {
    background-image: url('../assets/about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    /* Para colocar la animación de texto con respecto al banner */
}

/* ---- Sección de estudios ----
        Descripción: Estilos para la sección de estudios.
        Estructura:
            - studies (comparte estilos con la sección de servicios de index.html)
            - studies__p
            - studies__logos (contenedor de los logos de las instituciones educativas)
            - studies__logo
*/
.studies {
    gap: 4rem;
}

.studies__p {
    text-align: center;
    width: clamp(30%, 60vw, 60%);
    font-size: clamp(1em, 2vw, 2.5em);
}

.studies__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.studies__logo {
    width: clamp(200px, 15vw, 400px);
    height: auto;
}

/* ---- Sección de experiencia laboral ----
        Descripción: Estilos para la sección de experiencia laboral.
        Estructura:
            - experience
            - experience__h2 (comparte estilos con projects__h2 de index.html)
            - experience__container (contenedor de los bloques de experiencia)
            - experience__info (estilos generales para cada bloque de experiencia)
            - experience__h3
            - experience__span (descripción de cada experiencia laboral)
            - experience__clients (lista de clientes)
            - CTA para ver proyectos
                - .paper__btn--izq (modificador para el botón en la imagen del papel -estilos originales en la sección de proyectos de index.html-)
            
*/
.experience {
    width: 100%;
    background: linear-gradient(to bottom, var(--primary-color), var(--complementary-color));
    color: var(--white-color);
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience__h2 {
    color: var(--white-color);
}

.experience__container {
    width: clamp(50%, 60vw, 80%);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: clamp(2rem, 5vw, 6rem) 0;
}

.experience__info {
    display: flex;
    flex-direction: column;
}

.experience__h3 {
    font-size: clamp(1.5em, 2vw, 3em);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience__h3::before {
    /* Inserta un icono de flecha antes del título */
    content: url(../assets/arrow-white.svg);
    display: inline-block;
    width: clamp(1.5em, 2vw, 3em);
}

.experience__span {
    font-weight: 300;
    margin: 0 0 1.2rem;
}

.experience__clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0 0 2rem;
    font-weight: 300;
    font-style: italic;
}

.paper__btn--izq {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-20%, -80%);
}

@media (min-width: 768px) and (max-width: 1000px) {
    .paper__btn--izq {
        top: 80%;
        left: 15%;
        transform: translate(-15%, -80%);
    }
}

@media (max-width: 768px) {
    .paper__btn--izq {
        top: 80%;
        left: 10%;
        transform: translate(-15%, -80%);
    }
}

/* FIN DE ESTILOS PARA ABOUT.HTML */



/* INICIO DE ESTILOS PARA SERVICES.HTML */

/* ---- Banner inicial ----
        Descripción: Estilos para el banner inicial de la página.
*/
.banner--services {
    background-color: var(--primary-color);
}

/* ---- Sección de servicios ----
        Descripción: Estilos para la sección explicativa de los servicios ofrecidos.
        Estructura:
            - services (comparte estilos con la sección de estudios de about.html)
            - services--secondary (modificador para alinear el contenido a la izquierda y aumentar el padding)
            - services__item (estilos generales para cada servicio)
            - services__picture (contenedor de la imagen de cada servicio)
            - services__img (estilos para la imagen de cada servicio)
*/

.services--secondary {
    /* Edita el estilo compartido en el index.html */
    gap: clamp(4rem, 8vw, 10rem);
    align-items: start;
    padding: 8rem clamp(4rem, 10vw, 6rem);
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.services--secondary .services__h2 {
    text-align: left;
}

.services__picture {
    width: 100%;
    height: clamp(200px, 20vw, 400px);
    background-color: var(--grey-color);
    border-radius: var(--border-radius-elementos);
    margin: 2.5rem 0 0;
    overflow: hidden;
}

.services__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-elementos);
    transition: transform 1s ease;
}

.services__img:hover {
    transform: scale(1.05);
}

@media (min-width: 1500px) {
    .services--secondary {
        /* Padding y espaciado aumentado en pantallas grandes */
        padding: 12rem;
        gap: 15rem;
    }
}

/* ---- Sección de contacto ----
        Descripción: Estilos para el CTA de contacto al final de la página.
        Estructura:
            - banner--contact (modificador para el banner de contacto -se repite en about.html como CTA para contactar-)
            - banner__h2
            - banner__p 
            - btn--secondary (modificador para el botón del CTA de contacto -estilos originales en la sección de proyectos de index.html-)
*/
.banner--contact {
    background-image: none;
    background: linear-gradient(to bottom, var(--primary-color), var(--complementary-color));
    padding: 8rem 2rem;

    flex-direction: column;
    justify-content: center;

    max-height: 50vh;
}

.banner--contact .banner__h2 {
    color: var(--white-color);
    font-size: var(--text-heading-size);
    text-align: center;
}

.banner--contact .banner__p {
    color: var(--white-color);
    font-size: var(--text-subtitle-size);
    margin: 0 0 4rem;
    text-align: center;
}

.banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn--secondary {
    background-color: var(--white-color);
    color: var(--secondary-color);
}


.btn--secondary:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.banner__container .btn--secondary:nth-child(1) {
    /* Botón de contacto con modificiaciones estéticas */
    background-color: #ffffff15;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.banner__container .btn--secondary:nth-child(1):hover {
    /* Botón de contacto con modificiaciones estéticas */
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 1px solid var(--white-color);
}

/* FIN DE ESTILOS PARA SERVICES.HTML */