* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Variables - Custom Properties */
:root {
    /* Fuente principal */
    --main-font-family: 'Bricolage Grotesque', sans-serif;
    /* Branding - Colores */
    --primary-color: #008CCA;
    --secondary-color: #000000;
    --complementary-color: #EAE5C8;
    --white-color: #FFFFFF;
    --grey-color: #F5F5F5;
    --dark-blue: #016995;
    /* Bordes */
    --border-radius-btn: 100px;
    --border-radius-elementos: 20px;
}

/* Estilos GENERALES para botones */
.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: clamp(0.8em, 1.5vw, 3em);
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-btn);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--dark-blue);
}

/* --------------------------------------------------------------------------------- */

body {
    font-family: var(--main-font-family);
}


/* Header - Menú desktop */
.header {
    width: 100%;
    /* background-color: #008dca16; */
    /* backdrop-filter: blur(2px); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    position: absolute;
    top: 0;
    left: 0;

    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header__logo {
    width: 20%;
}

.header__menu {
    display: flex;
    gap: clamp(1.5rem, 2vw, 3rem);
    list-style-type: none;
}

.header__menu li {
    transition: transform 0.3s ease;
}

.header__menu li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1em;
}

.header__menu li:hover {
    transform: scale(0.95);
}

/* Header - Menú mobile */
.header__nav--mobile {
    display: none;
    list-style: none;
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header--mobile {
        background-color: #ffffffce;
    }

    .header__nav--mobile {
        display: flex;
    }

    .header__menu--mobile {
        list-style: none;
    }

    .header__menu-icon svg {
        width: 40px;
        fill: var(--white-color);
        cursor: pointer;
        transition: scale 0.3s ease;
    }

    .header__menu-icon svg:hover {
        transform: scale(0.95);
    }

    .header__menu--mobile ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #ffffff35;
        backdrop-filter: blur(10px);
        list-style: none;
        padding: 1rem 2rem;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 0.3s ease, visibility 0.3s ease;
    }


    .menu-icon__item {
        padding: 1rem;
        transition: transform 0.3s ease;
    }

    .menu-icon__item a {
        color: var(--secondary-color);
        text-decoration: none;
    }

    .header__menu--mobile li:hover {
        /* Anula el escalado del los items del menú de escritorio */
        transform: none;
    }

    .menu-icon__item a:hover {
        transform: translateX(2%);
        color: var(--white-color);
    }

    .header__menu--active ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

/* Banner inicial */
.banner {
    width: 100%;
    min-height: 100vh;
    /* Revisar peso de la imagen */
    background-image: url('../assets/banner-inicio-transparente.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 0 0 0 5%;
    overflow: hidden;
}

.banner__h1 {
    color: var(--white-color);
    font-size: clamp(10em, 25vw, 25em);
    text-align: center;
}

@media (min-width: 1720px) {
    .banner__h1 {
        font-size: clamp(15em, 35vw, 50em);
    }
}

/* Sección sobre mí */
.about {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -50vh 0 0;
    z-index: -1;
    position: relative;
}

.about__p {
    width: clamp(80%, 60vw, 50%);
    font-size: clamp(1.5em, 3vw, 4em);
    color: var(--white-color);
    text-align: center;
}

/* Animación de texto - Dentro de la sección sobre mí */
.movement {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.5rem;

    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.movement--blue {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1.5rem;

    position: absolute;
    top: 0;
    overflow: hidden;
}

.movement__container {
    display: flex;
    gap: 3rem;

    animation: scrollText 20s linear infinite;
}

.movement__span {
    white-space: nowrap;
    color: var(--white-color);
    font-size: 1.5em;
    font-weight: 200;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Sección de servicios */
.services {
    width: 100%;
    padding: 10rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services__h2,
.projects__h2 {
    /* Comparte estilos con la sección de proyectos */
    font-size: clamp(3em, 6vw, 8em);
    color: var(--secondary-color);
    text-align: center;
}

.services__card {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card__category,
.preview__category,
/* Comparte estilos con los datos de los proyectos destacados */
.preview__year {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: clamp(0.8em, 1vw, 2em);
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius-btn);
}

.card__img {
    background-color: var(--grey-color);
    width: clamp(200px, 20vw, 600px);
    height: clamp(200px, 20vw, 600px);
    border-radius: var(--border-radius-elementos);
}

/* Sección de proyectos */
.projects {
    background: linear-gradient(to bottom, var(--primary-color), var(--complementary-color));
    padding: 6rem 2rem;
    
    width: 100%;
    min-height: 100vh;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects__h2 {
    position: sticky;
    top: 10vh;
    color: var(--white-color);
    margin: 0 0 4rem;
    transition: opacity 0.3s ease-in-out;
}

.projects__preview {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.preview {
    width: clamp(300px, 60vw, 1000px);
    min-height: clamp(300px, 30vw, 600px);
    background-color: var(--grey-color);
    border-radius: var(--border-radius-elementos);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 30vh;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.preview:nth-child(odd) {
    margin: 0 0 0 -10vh;
}

.preview:nth-child(even) {
    margin: 0 -10vh 0 0;
}

.preview:nth-child(2) {
    top: 25vh;
}

.preview:nth-child(3) {
    top: 30vh;
}

.preview:nth-child(4) {
    top: 45vh;
}

.preview__data {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.preview__h2 {
    font-size: clamp(2em, 3.5vw, 4em);
}

.preview--disabled {
    transform: scale(0.95);
    filter: blur(2px) brightness(0.9);
}

.preview--opacity {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 485px) {
    .preview:nth-child(odd) {
        margin: 0;
    }

    .preview:nth-child(even) {
        margin: 0;
    }
}

/* Sección de contacto */
.contact__wrapper {
    overflow: hidden;
    width: 100%;
    padding: 14rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: clamp(50%, 60vw, 80%);
    transform: rotate(15deg);
}

.contact__picture {
    position: relative;
}

.contact__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-elementos);
}

.contact__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

@media (max-width: 768px) {
    .contact__wrapper {
        padding: 4rem 0;
    }

    .contact {
        width: 90%;
        transform: rotate(10deg);
    }
}


@media (min-width: 2400px) {
    .contact__wrapper {
        padding: 20rem 0;
        margin: 10rem 0 0;
    }

}

/* Footer */
.footer {
    width: 100%;
    padding: 8rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    position: relative;
}

/* Datos del footer
- Redes sociales
- Menu
- Contacto 
*/

.footer__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.socials {
    width: min(40px, 8vw);
    height: min(40px, 8vw);
    padding: 0.5rem;
    border-radius: var(--border-radius-btn);
    background-color: var(--primary-color);
    fill: var(--white-color);
    transition: transform 0.3s ease;
}

.socials:hover {
    transform: scale(1.1);
}

.footer__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--primary-color);
}

.footer__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    list-style-type: none;
    font-weight: 600;
}

.footer__menu li {
    white-space: nowrap;
    transition: transform 0.3s ease;
}

.footer__menu li:hover {
    transform: scale(0.95);
}

.footer__menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
}

.footer__contact {
    font-size: 0.9em;
    display: flex;
    gap: 1rem;
    word-spacing: 0.5rem;
    text-align: center;
}

.footer__title {
    width: 100%;
    color: var(--primary-color);
    text-align: center;

}

.footer__h2 {
    font-size: clamp(4em, 15vw, 15em);
}